/* Styles for Smells Like Team Spirit © 2020 */
/*stretches width to move profile right */
#navbarSupportedContent ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.navbarSupportedContent {
	max-height: 50px;
}
 /*displays profile right in navbar*/
#profil {
	width: 220px;
}